/* VARIABLES */

:root {
  /* BORDERS */

  /* COLORS */
  --white: #FFFFFF;
  --dark-bg: #090057;
  --accent-1: rgb(200 182 249);
  --accent-2: #f7f4fe00;
  --clickable-1: #9900a1;
  --clickable-2: #ff61e5;
}

@media (prefers-color-scheme: dark) {
  body.systemDarkPreference {
    background-color: var(--dark-bg);
    color: var(--white);
  }

  body.systemDarkPreference nav a {
    color: var(--white);
  }

  body.systemDarkPreference header {
    border-bottom: var(--accent-1) 1px solid;
  }

  body.systemDarkPreference .sec-btn, body.systemDarkPreference .pri-btn  {
    background-color: var(--clickable-1);
    color: var(--white);
}

  body.systemDarkPreference a {
    color: var(--clickable-2);
  }

  body.systemDarkPreference .sec-footer {
    border-top: var(--accent-1) 1px solid;
  }

  body.systemDarkPreference button {
    color: var(--white);
  }

  body.systemDarkPreference .bg-gradient {
    background: none;
  }

  body.systemDarkPreference #toggleTheme {
    text-decoration: underline var(--clickable-2);
  }
}


/* DEFAULT DARK MODE */
body.dark {
  background-color: var(--dark-bg);
  color: var(--white);
}

body.dark nav a {
  color: var(--white);
}


body.dark header {
  border-bottom: var(--accent-1) 1px solid;
}

body.dark .sec-btn, body.dark .pri-btn {
  background-color: var(--clickable-1);
  color: var(--white);
}

body.dark a {
  color: var(--clickable-2);
}

body.dark .sec-footer {
  border-top: var(--accent-1) 1px solid;
}

body.dark button {
  color: var(--white);
}

body.dark .bg-gradient {
  background: none;
}

body.dark #toggleTheme {
  text-decoration: underline var(--clickable-2);
}