h1, footer small {
  display: flex;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans';
  font-weight: 500;
}

h1 {
  line-height: 80px;
  font-size: 68px;
}

h2 {
  font-size: clamp(1.5em, 55px, 5em);
}

h3 {
  font-size: clamp(1em, 43px, 2.5em);
}

h4 {
  font-size: clamp(.8em, 30px, 2em);
}

#title {
  font-weight: bolder;
  max-width: 23ch;
}

p, li, table, pre {
  /*font-size: clamp(1em, 2vw, 5em);*/
  /*line-height: 1.7;*/
  font-size: 24px;
  line-height: 1.5;
}

th, td {
  padding: .5em;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}


main:not(#team) {
  max-width: 85ch;
}

main {
  padding-bottom: 2vw;
}

#individual-contributor {
  justify-items: center;
}

nav, footer, main {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 1em;
}

nav ul, footer ul {
  gap: 2em;
  align-items: center;
}
nav ul {
  justify-content: center;
}

nav a {
  color: black;
  text-decoration: none;
}

nav span {
  display: flex;
  margin-right: auto;
  align-content: center;
}

header {
  border-bottom: lightgray 1px solid;
}

.footer-sponsors-list img {
  width: 100%;
  max-width: 4em;
}

.footer-sponsors-list h3 {
  display: flex;
}

#governing-committee, #steering-committee {
  max-width: 120ch;
}

.icon {
  max-width: 1.5em;
  padding-left: 1em;
}

#logo {
  width: 30vw;
}

.pri-btn {
  background-color: #3BCDAA;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px;
}

.sec-btn {
  background-color: #0400BB;
  color: white;
  border-radius: 5px;
  padding: 15px;
  border: none;
  font-size: 24px;
  text-decoration: none;
}

a {
  color: #0400BB;
  text-decoration: none;
}

#home-bg {
  background-image: url("../img/svg-wave-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
}

.writers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

li p {
  max-width: 50ch;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  /*justify-content: center;*/
}

.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 2em;
}

.sponsor-grid img {
  max-width: 5em;
}

#advisory-members-list {
  list-style: initial;
}

iframe {
  border: none;
}

footer {
  border-top: lightgray 1px solid;
}

#donate h1, .sponsor-grid li h4 {
  justify-content: center;
}

.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 120ch;
}

#blog, #team, #donate, #get-involved, #reports, #worklog {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-bottom: 2em;
}

.post-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
  column-gap: 2em;
}

.center {
  justify-content: center;
}

#socials {
  padding-top: 2em;
}

/* MOBILE */

@media (max-width: 412px) {
  #logo {
    width: 100vw;
  }

  h1 {
    font-size: 45px;
    line-height: 50px;
  }

  #title {
    font-weight: bolder
  }

  .footer-sponsors-list img{
    max-width: 2.5em;
  }

  #home-bg {
    background-image: none;
  }

  .icon {
    max-width: 1em;
    padding-left: 0;
  }

  footer {
    background-color: rgb(200,182,249);
  }
}
