/* VARIABLES */

:root {
  /* BORDERS */
  --divider: var(--accent-1) 1px solid;
  --underline: underline;

  /* COLORS */
  --white: #FFFFFF;
  --dark-bg: #090057;
  --accent-1: rgb(200 182 249);
  --accent-2: #f7f4fe00;
  --clickable: #9900a1;

  /* SPACING */
  --general-spacing: 2rem;
  --nested-spacing: .5rem;
  --zero: 0;
  --gap-spacing: var(--general-spacing);
  --ul-drop: var(--general-spacing);

  /*  WIDTHS */
  --wide-paragraph: 100ch;
  --mid-paragraph: 45ch;
  --sm-icon-width: var(--general-spacing);
  --mid-icon-width: 5rem;
}

/** {*/
/*  outline: 1px solid red;*/
/*}*/

body {
  margin: var(--zero);
  font-family: sans-serif;
  font-weight: 500;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans';
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p, li, table, pre, button {
  font-size: 1.5rem;
  line-height: 1.5;
}

#title {
  font-size: 5rem;
  max-width: 23ch;
}

.post-item-title {
  text-decoration: var(--underline);
  margin: var(--zero);
  font-weight: 500;
}

a {
  color: var(--clickable);
  text-decoration: none;
}

a:hover {
  text-decoration: var(--underline);
}

.nav-item {
  color: black;
  text-decoration: none;
}

nav-item:hover {
  text-decoration: var(--underline);
}

.mid-paragraph {
  max-width: var(--mid-paragraph)
}

.center-text {
  text-align: center;
}

.wide-paragraph {
  max-width: var(--wide-paragraph);
}

/* GENERAL */

iframe {
  border: none;
}

.center {
  justify-content: center;
}

.auto {
  margin-right: auto;
  margin-left: auto;
}

.post ul {
  margin-left: var(--ul-drop);
  list-style: initial;
}

.post ul li {
  padding: var(--nested-spacing);
}

th, td {
  padding: var(--nested-spacing);
}

ul {
  padding: var(--zero);
  list-style-type: none;
}

main:not(#team) {
  max-width: var(--wide-paragraph);
}

/* COMPONENTS */
nav span {
  display: flex;
  margin-right: auto;
  align-content: center;
}

nav, footer, main {
  padding-left: var(--general-spacing);
}

.nav-list {
  align-items: center;
}

header {
  border-bottom: var(--divider);
}

.sec-container{
  max-width: 1300px;
  padding-bottom: var(--general-spacing);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--mid-paragraph), 1fr));
  row-gap: var(--gap-spacing);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-spacing);
}

.sponsor-icon {
  max-width: var(--mid-icon-width);
  min-width: var(--mid-icon-width);
}

.icon {
  max-width: var(--sm-icon-width);
  padding-left: var(--nested-spacing);
}

.btn {
  background-color: var(--clickable);
  color: var(--white);
  border-radius: 5px;
  padding: 15px;
  border: none;
  text-decoration: none;
}

#home-bg {
  background-image: url("../img/svg-wave-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
}

#logo {
  width: 30vw;
}

.pagination {
  justify-content: end;
}

#advisory-members-list {
  list-style: initial;
}

.sec-footer {
  border-top: var(--divider);
}

#socials {
  padding-top: var(--general-spacing);
}

#toggleTheme {
  text-decoration: var(--underline) var(--clickable);
  cursor: pointer;
}

/* MOBILE */

@media (max-width: 425px) {
  #logo {
    width: 100vw;
  }

  h1 {
    line-height: 1;
  }

  #home-bg {
    background-image: none;
  }

  .post img{
    max-width: 25rem;
  }
}

/* PORTRAIT TABLETS */

@media (min-width: 800px) and (max-width: 1299px) {
  #logo {
    width: 100vw;
  }

  #home-bg {
    background-image: none;
  }
}

/* LANDSCAPE TABLETS */

@media (orientation: landscape) {
  #logo {
    width: 30vw;
  }
}