h1, ul, footer small {
  display: flex;
}
/*h1, nav ul, footer ul, footer small {*/
/*  justify-content: center;*/
/*}*/

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans';
  font-weight: 800;
  line-height: 1.2;
}

h1 {
  /*font-size: 68.0472px;*/
  line-height: 80px;
  font-size: clamp(2em, 68px, 10em);
}

h2 {
  font-size: clamp(1.5em, 55px, 5em);
}

#title {
  max-width: 23ch;
}

p, li {
  /*font-size: clamp(1em, 2vw, 5em);*/
  /*line-height: 1.7;*/
  font-size: 24px;
  line-height: 1.5;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav, footer, main {
  padding-left: 2vw;
  padding-right: 2vw;
}

main:not(#team) {
  max-width: 85ch;
}

main {
  padding-bottom: 2vw;
}

#individual-contributor {
  justify-items: center;
}

nav ul, footer ul {
  /*flex-direction: row;*/
  gap: 2em;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
}

nav span {
  display: flex;
  margin-right: auto;
  align-content: center;
}

header {
  border-bottom: lightgray 1px solid;
}

#sponsors img {
  max-width: 4em;
}

#sponsors ul{
  justify-content: center;
}

#governing-committee, #steering-committee {
  max-width: 120ch;
}

#socials ul, #socials small {
  justify-content: center;
}

.icon {
  max-width: 1.5em;
  padding-left: 1em;
}

#logo {
  max-width: 10em;
  padding-top: 20px;
}

.brand-name {
  padding-top: 10px;
  line-height: 1;
}

.pri-btn {
  background-color: #3BCDAA;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px;
}

.sec-btn {
  background-color: #0400BB;
  color: white;
  border-radius: 5px;
  padding: 15px;
  border: none;
  font-size: 24px;
  text-decoration: none;
}

p a {
  color: #0400BB;
  font-weight: bolder;
  text-decoration: none;
}

footer, footer section {
  padding-top: 2em;
}

#home-bg {
  background-image: url("../img/svg-wave-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
}

.writers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

li p {
  max-width: 50ch;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  /*justify-content: center;*/
}

.sponsor-grid {
  display: grid;
  grid-template-areas: "li li li li";
  row-gap: 2em;
}

.sponsor-grid img {
  max-width: 5em;
}

#advisory-members-list {
  display: block;
  list-style: initial;
}

#get-involved {
  display: grid;
}

iframe {
  border: none;
}

footer {
  border-top: lightgray 1px solid;
}

#donate h1, .sponsor-grid li h4 {
  justify-content: center;
}