---
layout: layouts/default.njk
title: "Open Web Docs - Blog"
eleventyExcludeFromCollections: true
pagination:
  data: collections.post
  size: 12
  alias: posts
  reverse: true
---

<section id="blog" class="sec-container auto">
    <h1>Blog</h1>
    Subscribe to the <a href="/feed.xml">feed</a>.
    <ul class="grid-container">
    {%- for post in posts -%}
      <li class="post-item">
        <h2 class="post-item-title" style=""><a href={{ post.url }}>{{ post.data.title }}</a></h2>
        <small>{{ post.data.date }}</small>
        <p>
            {{ post.data.excerpt }}
        </p>
      </li>
    {%- endfor -%}
    </ul>
    {% include "../../_includes/partials/pagination.njk" %}
</section>

