---
layout: layouts/default.njk
title: "Open Web Docs - Reports"
eleventyExcludeFromCollections: true
---

<section id="reports" class="sec-container auto">
    <h1>Reports</h1>
    <ul class="grid-container">
    {%- for report in collections.reports -%}
      <li>
        <h2><a href={{ report.url }}>{{ report.data.title }}</a></h2>
        <small>{{ report.data.date }}</small>
        <p>
            {{ report.data.excerpt }}
        </p>
      </li>
    {%- endfor -%}
    </ul>
</section>