<!doctype html>
<html class="no-js"
      lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <meta property="og:title"
          content="">
    <meta property="og:type"
          content="">
    <meta property="og:url"
          content="">
    <meta property="og:image"
          content="">

    <link rel="apple-touch-icon"
          href="/img/icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" type="image/x-icon" href="favicon.png">

   <link rel="stylesheet"
          href="/css/general.css">
    <link rel="stylesheet"
          href="/css/theme.css">
    <link rel="preconnect"
          href="https://fonts.googleapis.com">
    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display=swap"
          rel="stylesheet">
</head>

<body class="systemDarkPreference">
<header>
    <nav>
        <ul class="flex-container center nav-list">
          <div class="pull">
            <li><a class="nav-item" href="/"><img src="/img/webdocs_logo_light.svg"
                                 alt="Open Web Docs logo"
                                 id="logo"></a></li>
          </div>
          <div class="flex-container center">
            <li><a class="nav-item" href="/content/reports/2022/">2022 Impact Report</a></li>
            <li><a class="nav-item" href="/content/posts">Blog</a></li>
            <li><a class="nav-item" href="/team">Team</a></li>
            <li><a class="nav-item" href="/contribute">Get Involved</a></li>
            <li><a href="/donate"
                   class="btn">Donate</a></li>
            <li id="toggleTheme"></li>
          </div>
        </ul>
    </nav>
</header>
