<footer class="sec-footer">
    <div id="socials">
        <ul class="flex-container center nav-list">
            <li><a href="https://github.com/openwebdocs"><img src="/img/github-dark.png"
                                                          alt="GitHub logo icon"
                                                          class="icon gh"></a></li>
            <li><a href="https://twitter.com/OpenWebDocs"><img src="/img/twitter.png"
                                                            alt="Twitter logo icon"
                                                            class="icon tw"></a></li>
            <li><a href="https://opencollective.com/open-web-docs"><img src="/img/opencollective.svg"
                                                         alt="Open Collective logo icon"
                                                         class="icon oc"></a></li>
        </ul>
        <small class="flex-container center">Open Web Docs 2022</small>
    </div>
</footer>

<script src="/js/main.js"></script>


</body>
