<footer class="sec-footer">
    <section class="footer-sponsors-list center">
        <h3 class="center">Sponsors</h3>
        <ul class="flex-container center">
            <li><img src="/img/edge.png"
                     alt="Microsoft Edge logo"></li>
            <li><img src="/img/meta-light.svg"
                     alt="Meta logo"></li>
            <li><img src="/img/coil.png"
                     alt="Coil logo"></li>
            <li><img src="/img/canva.png"
                     alt="Canva logo"></li>
            <li><img src="/img/igalia.png"
                     alt="Igalia logo"></li>
            <li><img src="/img/google.png"
                     alt="Google logo"></li>
            <li><img src="/img/jetbrains.png"
                     alt="JetBrains logo"></li>
        </ul>
    </section>

    <section id="socials">
        <ul class="flex-container center">
            <li><a href="https://github.com/openwebdocs"><img src="/img/github-dark.png"
                                                          alt="GitHub logo icon"
                                                          class="icon"></a></li>
            <li><a href="https://twitter.com/OpenWebDocs"><img src="/img/twitter.png"
                                                            alt="Twitter logo icon"
                                                            class="icon"></a></li>
            <li><a href="https://opencollective.com/open-web-docs"><img src="/img/opencollective.svg"
                                                         alt="Open Collective logo icon"
                                                         class="icon"></a></li>
        </ul>
        <small class="center">Open Web Docs 2022</small>
    </section>
</footer>

<script src="js/main.js"></script>


</body>
