<!doctype html>
<html class="no-js"
      lang="">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <meta property="og:title"
          content="">
    <meta property="og:type"
          content="">
    <meta property="og:url"
          content="">
    <meta property="og:image"
          content="">

    <link rel="manifest"
          href="site.webmanifest">
    <link rel="apple-touch-icon"
          href="img/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet"
          href="css/normalize.css">
    <link rel="stylesheet"
          href="/css/grid.css">
    <link rel="preconnect"
          href="https://fonts.googleapis.com">
    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display=swap"
          rel="stylesheet">
</head>

<body>
<header>
    <nav>
        <ul class="flex-container">
          <span class="pull">
            <li><a href="/"><img src="/img/finallogo.png"
                                 alt="Open Web Docs logo"
                                 id="logo"></a></li>
            <li><h2 class="brand-name">open web <br>
            docs </h2>
            </li>
          </span>
            <li><a href="/content/posts/reports/2022-q1-report/">2022 Impact Report</a></li>
            <li><a href="/content/posts">Blog</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/get-involved">Get Involved</a></li>
            <li><a href="/donate"
                   class="pri-btn">Donate</a></li>
        </ul>
    </nav>
</header>