<style>
    .root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        background-image: url("https://openwebdocs.org/img/svg-wave-bg.svg");
        background-size: 100% 100%;
        background-position-x: right;
        background-repeat: no-repeat;
    }

    .title {
        color: white;
        background-color: #9900a1;
        min-width: 100%;
        font-size: 60px;
        margin: auto;
        padding: 25px
    }

    .byline {
      font-size: 30px;
    }
</style>

<div class="root">
    <h1 class="title">{{ title }}</h1>
    <img height="235px" with="100px" src="https://openwebdocs.org/img/openwebdocs-logo-light.png">
    <p class="byline">https://openwebdocs.org</p>
</div>
