---
layout: layouts/default.njk
eleventyExcludeFromCollections: true
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
---

<section id="blog">
    <h1 style="font-weight:500">Blog</h1>
    <ul class="post-collection">
    {%- for post in posts -%}
      <li>
        <h3 style="text-decoration:underline;margin:0;line-height:1.7;font-weight:500;">{{ post.data.title }}</h3>
        <small>{{ post.data.date }}</small>
        <p>
            {{ post.data.excerpt }}
        </p>
        <p><a href={{ post.url }}>Read More > </a></p>
      </li>
    {%- endfor -%}
    </ul>
    {% include "../../_includes/partials/pagination.njk" %}
</section>

