<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="/img/openwebdocs-logo.png" />
    <meta property="og:type" content="/img/openwebdocs-logo.png" />
    <meta property="og:url" content="/img/openwebdocs-logo.png" />
    <meta property="og:image" content="/img/openwebdocs-logo.png" />

    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/favicon.png">
    <link rel="icon" type="image/svg" href="/favicon/favicon.svg">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
          rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <ul class="flex-container center nav-list">
          <div class="pull">
            <li>
              <a class="nav-item" href="/"
                ><img
                  src="/img/openwebdocs-logo-dark.png"
                  data-lightsrc="/img/openwebdocs-logo-light.png"
                  alt="Open Web Docs logo"
                  id="logo"
              /></a>
            </li>
          </div>
          <div class="flex-container center">
            <li>
              <a class="nav-item" href="/content/reports/2021/"
                >2021 Impact Report</a
              >
            </li>
            <li><a class="nav-item" href="/content/posts">Blog</a></li>
            <li><a class="nav-item" href="/team">Team</a></li>
            <li><a class="nav-item" href="/get-involved">Get Involved</a></li>
            <li><a class="nav-item" href="/sponsors">Sponsors</a></li>
            <li><a href="https://opencollective.com/open-web-docs" class="btn">Donate</a></li>
            <li id="toggleTheme">Change Theme
              <ul>
                <li data-value="">Auto</li>
                <li data-value="dark">Dark</li>
                <li data-value="light">Light</li>
              </ul>
            </li>
          </div>
        </ul>
      </nav>
    </header>

    <div class="body {{bodyClass}}">

      {% block content %}
        {{ content | safe }}
      {% endblock %}

      <footer class="sec-footer">
        <div class="socials">
          <ul class="flex-container center nav-list">
            <li>
              <a href="https://github.com/openwebdocs"
                ><img
                  src="/img/github-light.png"
                  data-lightsrc="/img/github-dark.png"
                  alt="GitHub logo icon"
                  class="icon gh"
              /></a>
            </li>
            <li>
              <a href="https://twitter.com/OpenWebDocs"
                ><img
                  src="/img/twitter.png"
                  alt="Twitter logo icon"
                  class="icon tw"
              /></a>
            </li>
            <li>
              <a href="https://opencollective.com/open-web-docs"
                ><img
                  src="/img/opencollective.svg"
                  alt="Open Collective logo icon"
                  class="icon oc"
              /></a>
            </li>
          </ul>
          <small class="flex-container center">&copy; Open Web Docs 2022</small>
        </div>
      </footer>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
