{% include "../partials/header.njk" %}

    <article class="post auto xl-paragraph">
        <h1>{{ title }}</h1>
        <p>{{ author }}</p>
        {{ content | safe }}
    </article>

{% include "../partials/footer.njk" %}